body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(82, 82, 82);
}


th, td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

table, th, td {
    border: 2px solid;
    border-style: solid;
    table-layout: fixed;
    
}
.top {
    border: 2px solid;
    border-style: solid;
    table-layout: fixed;
    height: 100%;
}
/* Remover a largura e altura fixa dos botões */
.button {
    width: auto;  /* Remover a largura fixa */
    height: auto;  /* Remover a altura fixa */
    padding: 10px 20px;  /* Adiciona um pouco de preenchimento para os botões */
}

/* Se você quiser personalizar os botões do Bootstrap mais profundamente */
.btn {
    width: 100%;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px; /* Adiciona bordas arredondadas, se necessário */
}

.tMenu{
    width: 100%;
    height: 17vh;
}
.tMenu2{
    width: 100%;
    height: 100%;
}

#lista {
    max-height: 96.5%; /* Ajuste para a altura desejada */
    overflow-y: auto;  /* Permite rolagem vertical */
    display: block;    /* Certifica-se de que o conteúdo do <th> pode ser rolado */
}


/* divs */
section {
    background-color: #f1f1f1;
    width: 39.8%; 
    height: 60%; 
    position: fixed;
    top: 20%;
    left: 30%;
    border: 5px solid;
    overflow: hidden; /* Garante que nada ultrapasse os limites da section */
}


.menu{
    background-color: #f1f1f1;
    width: 21%; 
    height: 17%; 
    position: fixed;
    top: 78%;
    right: 5%;
    border-style: solid;
}



.form-control{
    width: 38vh;
}
.form-control-desc{
    width: 38vh;
    height: 8vh;
}

.confirmar{
    width: 39vh;
    height: 12vh;
}
.tabTitulo{
    width: 100%;
    margin-bottom: -10px;
}
.thTitulo{
    margin-bottom: -500px;
}

.textTitulo{
    text-align: center;
}